apiVersion: v1
kind: Service
metadata:
  name: falco
  namespace: falco
  labels:
    app.kubernetes.io/name: falco
spec:
  selector:
    app.kubernetes.io/name: falco
  ports:
    - name: metrics
      port: 8765
      targetPort: 8765
      protocol: TCP