name: Smart DevSecOps CI/CD Pipeline

on:
  push:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  build-and-scan:
    name: Build, Scan and Push Image
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
      security-events: write

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      # --- SCAN IAC "SHIFT-LEFT" ---
      - name: 'SECURITY: Scan IaC files with Checkov'
        uses: bridgecrewio/checkov-action@master
        with:
          directory: ./kubernetes
          # LA BONNE SYNTAXE pour ignorer des fichiers
          skip-file: |
            kubernetes/test-bad-pod.yaml
            kubernetes/test-no-label-pod.yaml
          soft_fail: true

      # --- BUILD ET PUSH DE L'IMAGE ---
      - name: Log in to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.PAT }}

      - name: Build and push Docker image
        uses: docker/build-push-action@v5
        with:
          context: ./app-bancaire
          push: true
          tags: ghcr.io/${{ github.repository_owner }}/banking-api:${{ github.sha }}

      # --- SCAN DE L'IMAGE (QUI INCLUT LE SCA) ---
      - name: 'SECURITY: Scan pushed Docker image with Trivy'
        uses: aquasecurity/trivy-action@master
        with:
          image-ref: 'ghcr.io/${{ github.repository_owner }}/banking-api:${{ github.sha }}'
          format: 'sarif'
          output: 'trivy-image-results.sarif'
          exit-code: '0' 
          scanners: 'vuln,secret'

      # --- UPLOAD DU RAPPORT UNIQUE DE TRIVY ---
      - name: Upload Trivy image scan results to GitHub Security tab
        uses: github/codeql-action/upload-sarif@v3
        with:
          sarif_file: 'trivy-image-results.sarif'