# .github/workflows/main.yaml
name: Smart DevSecOps CI/CD Pipeline

on:
  push:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  security-pipeline:
    name: Full Security Pipeline
    runs-on: ubuntu-latest
    permissions: write-all

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      # Pour la démo, Gitleaks et Semgrep sont en mode non-bloquant
      - name: 'SECURITY: Scan for secrets with Gitleaks'
        uses: gitleaks/gitleaks-action@v2
        continue-on-error: true

      - name: 'SECURITY: Scan source code with Semgrep'
        uses: semgrep/semgrep-action@v1
        with:
          config: "auto"
        continue-on-error: true
        
      - name: 'SECURITY: Scan IaC files with Checkov'
        uses: bridgecrewio/checkov-action@master
        with:
          directory: ./kubernetes
          soft_fail: true

      - name: 'SECURITY: Scan dependencies with Trivy (SCA)'
        uses: aquasecurity/trivy-action@master
        with:
          scan-type: 'fs'
          scan-ref: './app-bancaire'
          format: 'table'
          exit-code: '0'

      # Le reste du pipeline est désactivé pour la simplicité de la démo