# .github/workflows/main.yaml
name: Smart DevSecOps CI/CD Pipeline

on:
  push:
    branches: [ "main" ]
  workflow_dispatch: # Permet de lancer le pipeline manuellement

jobs:
  build-and-test:
    runs-on: ubuntu-latest
    steps:
      # --- ÉTAPE 1 : RÉCUPÉRER LE CODE ---
      - name: Checkout code
        uses: actions/checkout@v4

      # --- ÉTAPE 2 : SCANS DE SÉCURITÉ "SHIFT-LEFT" ---
      - name: 'SECURITY: Scan for secrets with Gitleaks'
        uses: gitleaks/gitleaks-action@v2

      - name: 'SECURITY: Scan source code with Semgrep'
        uses: semgrep/semgrep-action@v1
        with:
          config: "auto"

      - name: 'SECURITY: Scan IaC files with Checkov'
        uses: bridgecrewio/checkov-action@master
        with:
          directory: ./kubernetes
          soft_fail: false

      - name: 'SECURITY: Scan dependencies with Trivy (SCA)'
        uses: aquasecurity/trivy-action@master
        with:
          scan-type: 'fs'
          scan-ref: './app-bancaire'
          format: 'table'
          severity: 'CRITICAL,HIGH'
          ignore-unfixed: true

      # --- ÉTAPE 3 : CONSTRUIRE L'IMAGE DOCKER ---
      - name: Log in to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push Docker image
        id: build-and-push # On donne un ID à cette étape pour la réutiliser
        uses: docker/build-push-action@v5
        with:
          context: ./app-bancaire
          push: true
          tags: ghcr.io/${{ github.repository_owner }}/banking-api:${{ github.sha }}

      # --- ÉTAPE 4 : SCAN DE L'IMAGE CONSTRUITE ---
      - name: 'SECURITY: Scan Docker image with Trivy'
        uses: aquasecurity/trivy-action@master
        with:
          scan-type: 'image'
          image-ref: 'ghcr.io/${{ github.repository_owner }}/banking-api:${{ github.sha }}'
          format: 'table'
          severity: 'CRITICAL,HIGH'
          ignore-unfixed: trues